<div class="article-wrapper">
    <div class="article-list" *ngIf="articles; else spiner">
        <mat-card class="card" *ngFor="let article of articles" (click)="openArticle(article.url)">
            <mat-card-header>
                <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
            </mat-card-header>
            <div class="img-wrapper">
                <img mat-card-image [src]="article.urlToImage" [alt]="article.title">
            </div>

            <mat-card-content>
                <mat-card-title>{{article.title}}</mat-card-title>
                <mat-divider></mat-divider>
                <div class="card-description">
                    {{article.description}}
                </div>
                <mat-card-subtitle>{{article.publishedAt | date}}</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </div>
    <ng-template #spiner class="progress-spinner-wrapper">
        <div class="progress-spinner">
            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" value="50"></mat-progress-spinner>
        </div>
    </ng-template>
</div>