mat-sidenav {
  min-width: 300px;
  position: fixed;
  top: 64px;
}
.mat-drawer-container {
  margin-top: 0 !important;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 150px;
  height: 100%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1000ms, opacity 1000ms;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 1000ms;
}

.paginator-container {
  height: 56px;
  background: #424242;
}
