input {
  color: #333;
  border: none;
  border-radius: 100px;
  background-color: #fafafa;
  padding: 5px 16px;
  margin-left: 8px;
  width: 50%;
  max-width: 600px;
  height: 60%;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-weight: 400;
  -webkit-appearance: none;
  outline: none;
}
